
<div class="row">
            <div class="col-md-4 col-lg-3" *ngFor="let post of posts$ | async">
            <app-card [post]="post"></app-card>
      </div>
</div>


      <app-paginate
      [paginateData$]="postDetails$"
      ></app-paginate>

<app-location-select (selectedLocation)="selectedNewLocation($event)" (closeLocationModal)="locationClicked()" [showModal]="showLocationModal$ | async"></app-location-select>
