.navbar {
    background: #2c3e50;
    .navbar-brand {
        color: #fff;
    }
    .navbar-toggler {
        border: 1px solid rgba(255, 255, 255, 1);
        .navbar-toggler-icon {
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
        }
    }
    ul {
        li {
            a {
                color: #fff!important;
            }
        }
    }
    .container {
        @media only screen and (max-width: 768px) {
        margin-left: 0;
        margin-right: 0;
        }
    }
}
.dropdown-menu {
    left: initial;
}
.login-nav {
    color: #16a085;
}

.display {
    display: block;
}

.hide {
    display: none;
}
.green {
    color: #16a085;
}
.user-loggged-in {
    cursor: pointer;
    a, span {
        margin-right: 4px;
        color: #ecf0f1;
    }
}
.login-nav {
    @media only screen and (max-width: 768px) {
        margin: 0 !important;
        background: #16a085;
        padding: 20px 20px;
        width: 100%;
        display: block;
        height: 60px;
    }
    @media only screen and (min-width: 768px) {
        height: 0;
        position: absolute;
        right: 30px;
        top: 27px;
        .user-menu-toggle {
            cursor: pointer;
            margin-right: 20px;
            p {
                margin-top: -10px;
                display: inline;
            }
        }
    }
}
@media only screen and (max-width: 768px) {
    .dropdown-menu {
        position: absolute;
        top: 112px;
        width: 100%;
        left: 0;
    }
}