<nav class="navbar navbar-toggleable-md  navbar-dark bg-dark">
  <div class="container">
  <button (click)="showMenu()" class="navbar-toggler navbar-toggler-right" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" routerLink="/"><img src="images/Band Noticeboard.png"></a>

  <div (click)="showMenu()" [ngClass]="{'show': displayMenu}" class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      
      <li *ngIf="!authService.isLoggedOn()" class="nav-item">
        <a class="nav-link" routerLink="/signup">Sign up!</a>
      </li>
      <li  class="nav-item">
        <a class="nav-link" routerLink="/about">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contact">Contact Us</a>
      </li>
    </ul>
    <div *ngIf="!authService.isLoggedOn()">
      <div class="my-2 my-lg-0">
          <a routerLink="/login"><button class="btn btn-outline-success btn">Login</button></a>
      </div>
    </div>

  </div>
  </div>
</nav>
<div *ngIf="authService.isLoggedOn()">
  <div class="login-nav my-2 my-lg-0 d-flex d-flex align-items-center justify-content-between">
        <i *ngIf="hasNotSeen" class="fa fa-comment green fa-2x" aria-hidden="true"></i>
        <a class="user-menu-toggle" (click)="showDropDown()"><i class="fa fa-bars fa-2x light-grey" aria-hidden="true"></i></a>
      <div class="user-loggged-in d-flex align-items-center justify-content-between">
        <span (click)="showDropDown()">
          <i class="fa fa-user-circle" aria-hidden="true"></i>
          <a><small>{{user?.username}}</small></a> <span><small>Logged In</small></span>
        </span>
      </div>
      <mat-list role="list" [ngClass]="showUserDropDown ? 'display' : 'hide'" class="pull-right" aria-labelledby="dropdownMenuLink">
        <mat-list-item (click)="showDropDown()" routerLink="user-profile/{{user?._id}}">  Profile</mat-list-item>
        <mat-list-item (click)="showDropDown()" routerLink="messages"><i class="fa fa-inbox" aria-hidden="true"></i> Inbox <i *ngIf="hasNotSeen" class="green fa fa-comment" aria-hidden="true"></i></mat-list-item>
        <mat-list-item (click)="showDropDown()" routerLink="user-posts/{{user?._id}}"><i class="fa fa-thumb-tack" aria-hidden="true"></i> My ads <i *ngIf="hasNotSeen" class="green fa fa-comment" aria-hidden="true"></i></mat-list-item>
      </mat-list>
      <a class=""><button routerLink="/" (click)="logOut()" class="btn btn-warning btn">Log out</button></a>
  </div>
</div>