footer, .footer {
    position: relative;
    z-index: 0;
    background: #2c3e50;
    color: #fff;
    font-weight: 200;
    .nav {
        padding-bottom: 20px;
    }
    padding-bottom: 20px;
    h4 {
        font-weight: 200;
    }
    a {
        color: #16a085;
    }
}
small {
    font-weight: 200;
    line-height: 3px!important;
}