<footer class="footer">
  <div class="container">
    <hr>
    <div class="row">
      <div class="col-md-4">
        <ul class="nav flex-column text-center">
          <li class="nav-item">
            <a class="nav-link active" routerLink="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/">Notice Board</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="about">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="contact">Contact Us</a>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
      </div>
      <div class="col-md-4 text-center">
        <h4>Terms &amp; Conditions</h4>
        <small>If you continue to browse and use this website,
              you are agreeing to comply with and be bound by the following <a routerLink="terms-and-conditions">terms
              and conditions</a> of use. If you disagree with any part of these terms and conditions,
              please do not use our website.</small>
        <small>Band Noticeboard copyright 2017. All rights reserved.</small>
      </div>
    </div>


  </div>
</footer>