// General Classes
.display-none {
    display: none;
}
.display-block {
    display: block;
}
.green {
    color: $blue;
}
.dark-aqua {
   color: $dark-aqua;
}

.light-grey {
  color: #ecf0f1;
}

.modal-dialog {
    top: 30vH!important;
}