<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Contact Us</h1>
    <p class="lead">Hey there fellow musicians, please drop us an email and say hi!</p>
  </div>
</div>

<div class="container">
   <h2 class="display-4">We want to hear from you!</h2>
    <p>Band Noticeboard would love to hear from you, so send us an email and we will try to get back to within 24 hours.</p>
    <p>We would be really interested to hear from you, should you have any suggestions to make this site better for the music community.</p>
    <hr>
    <h5>Support</h5>
    <p>If you are experiencing any issues with your account please get in touch and will try our best to get back to you within 24 hours</p>

    <h5>Bugs</h5>
    <p>We try our best to test for all types of scenarios but sometimes a bug or two slips through the net, so if you have
      happened upon any then we would like to know! Thanks you.
    </p>

    <h5>Can't See your Country, City or Musician type / instrument?</h5>
    <p>Please bare with us as we add extra locations and musician types as fast as we can. If you don't see your country / city / musician type / instrument when using the notice boards please get in contact with us.</p>
    <h5>Donations</h5>
    <p>Band Noticeboard makes no money from advertising or by any other means, we are dependent solely on your donantions.</p>
      Please <a href="mailto:joegasewicz@gmail.com">email</a> to make a donation.
    <hr>
    <h5>Contact</h5>
    email: <a href="mailto:joegasewicz@gmail.com">admin@bandnoticeboard.com</a>

</div>