<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">About Us</h1>
    <p class="lead">Band Notice Board was created by bassist & developer <a href="https://twitter.com/joegoosebass">@joegoosebass</a> as a solution to build a better online community for musicians than was currently available.</p>
  </div>
</div>

<div class="container">

  <h2 class="display-4">This is just the beginning..</h2>
  <p>Band Noticeboard is presently in its infant stage, so the functionality and options may be a bit limited at present.
    But this will change very soon. So please keep coming back to post and connect with musicians from all over the world.</p>
  <p>Thnaks from the team at Band Noticeboard!</p>
  <small>Band Noticeboard is built with Python / Flask, NodeJS / ExpressJS, Typescript & Angular 5 with Redux - (<i>See <a href="http://reactivex.io/">reactivex.io</a></i>) & MongoDB. If you have any experience in these languages please consider contributing to the <a href="https://bitbucket.org/josefcreative/bandnoticeboard-spa">code base</a>!</small>
  <hr>

  <h3>News</h3>
  <ul>
      <li>
          <h5>Latest Updates: 11th March 2018</h5>
          <p>Again I got caught up in my demanding day job but Band Noticeboard is back! I have added google maps now
            to each post, which is a nice touch &amp; even useful! haha I've also added in a smoother sign up to login automatically, makes signing up
            now to band Noticeboard even easier so you can start posting ads straight away. Also, when you login in now you'll get all the ads in your location
            show on the main page (if there are any, let's hope!).
            If you have any ideas for other features, drop me an <a href="joegasewicz@gmail.com">email</a>! Bye for now.
          </p>
          <ul>
            <li>After Signing up, users are automatically logged in. <span class="badge badge-success">Live</span></li>
            <li>Google Maps displayed on advert pages. <span class="badge badge-success">Live</span></li>
            <li>Location is shown now on the button with world icon. <span class="badge badge-success">Live</span></li>
            <li>Message notifications is currently buggy &amp; needs a re-write. <span class="badge badge-warning">Pending</span></li>
            <li>Converting Node.js backend to 100% Flask/Python code base, this will join the existing message system which is written in Python. <span class="badge badge-warning">Pending</span></li>
            <li>Django CMS for the articles &amp; news items for better SEO etc.<span class="badge badge-warning">Pending</span></li>
            <li>Email notifications for signup &amp; advert message responses. <span class="badge badge-warning">Pending</span></li>
            <li>Users will be able to Edit their Ads <span class="badge badge-warning">Pending</span></li>
            <li>Users will be able to delete their accounts <span class="badge badge-warning">Pending</span></li>
            <li>Users will be able to search other users ads <span class="badge badge-warning">Pending</span></li>
          </ul>
          <br>
          <hr>
          <h5>Latest Updates: 30th December 2017</h5>
          <p>Happy Xmas and New Year to all! I hope you guys are having an amazing time and plenty of gigs!
          The site has been going well but there will be a big deployment coming in the next few days that will fix a lot of issues 
          that have held the site back. The main one being now you can select any city &amp; country in the world as a location.
          I will also add Google Maps to the advert pages so you can see exactly where the advert author is based.
          Well that's all for now guys, so have a good drink on us here at Band Noticeboard!
            If you have any ideas for other features, drop me an <a href="joegasewicz@gmail.com">email</a>! Bye for now.
          </p>
          <ul>
            <li>Users can now search adds from any city or country world wide. <span class="badge badge-success">Live</span></li>
            <li>Users can select any location in the world when signing up. <span class="badge badge-success">Live</span></li>
            <li>When user logs in it will display adds relevent to their location. <span class="badge badge-success">Live</span></li>
          </ul>
          <br>
          <h5>Features Coming Soon:</h5>
          <ul>
            <li>Email notifications for signup &amp; advert message responses. <span class="badge badge-warning">Pending</span></li>
          </ul> 
          <br />
          <hr>
          <h5>Latest Updates: 25th November 2017</h5>
          <p>Due to work commitments in my day job I haven't been able to work at all on the website until this weekend.
            So from now on expect regular updates, bringing lots of new features. And again, if you have a suggestion for a
            new feature then please drop me an <a href="joegasewicz@gmail.com">email</a>! Bye for now.
          </p>
          <ul>
            <li>Users can now upload an image with their advert. <span class="badge badge-success">Live</span></li>
            <li>Cropping added to all images. <span class="badge badge-success">Live</span></li>
            <li>Added shell scripts to make new deployments easier. <span class="badge badge-success">Live</span></li>
            <li>Fixed bugs on the front end / backend / CORS issues fixed. <span class="badge badge-success">Live</span></li>
          </ul>
          <br>
          <h5>Features Coming Soon:</h5>
          <ul>
            <li>Users will be able to Edit their Ads <span class="badge badge-warning">Pending</span></li>
            <li>Users will be able to delete their accounts <span class="badge badge-warning">Pending</span></li>
            <li>Users will be able to search other users ads <span class="badge badge-warning">Pending</span></li>
            <li>Extending locations list to include United States, New Zealand, South-Africa &amp; Wales. <span class="badge badge-success">Live</span></li>
          </ul>  
        </li>
        <br />
        <hr>
    <li>
      <h5>Latest Updates: 15 September 2017</h5>
      <ul>
        <li>The Python 3 / Flask API running. <span class="badge badge-success">Live</span></li>
        <li>New messaging features for users throughout the application <span class="badge badge-success">Live</span></li>
        <li>Fixed login so users can now see if their username/password failed. <span class="badge badge-success">Live</span></li>
      </ul>
    </li>
    <li>
    </li>
    <br>
    <hr>
    <li>
      <h5>Fri 13 - June - 2017 - Website is now live!</h5>
        <ul>
          <li>Band Noticeboard has launched this evening, please get in touch with me if you have any problems at <a href="joegasewicz@gmail.com">admin@bandnoticeboard.com</a></li>
        </ul>
    </li>
  </ul>
</div>
