

<mat-toolbar color="primary" class="board-toolbar">
  <mat-toolbar-row>
    <div class="board-toolbar__drop-down">
      <div class="d-flex flex-row">
          <span *ngIf="postGroups$ | async; let postGroups">
              <app-board-drop-down
              (selectedListItem)="getPostGroupId($event)"
              [btn]="'btn-outline-info btn-lg'"
              [listItems]="postGroups"
              [name]="'Boards'"
              [property]="'name'"
              [props]="'_id'">
             </app-board-drop-down>
            </span>

          <span *ngIf="postTypesData$ | async; let postTypesData;">
              <app-board-drop-down
              [hidden]="!postTypesHidden"
              (selectedListItem)="getPostType($event)"
                [btn]="'btn-primary btn-lg'"
                [listItems]="postTypesData?.postTypes"
                [name]="postTypesData?.name"
                [property]="'name'"
                [props]="'name'">
              </app-board-drop-down>
            </span>
      </div>
     
    </div>
      <div class="board-toolbar__buttons preloader-container">
          <button mat-raised-button color="accent" (click)="openPostTypeDialog()" class="advert-type-btn">
            <mat-icon>more_vert</mat-icon>
          </button>
          <button mat-raised-button color="accent" (click)="refreshPosts()"  class="preloader-container__inner">
            <mat-icon [ngClass]="{'fa-spin': refreshPostsSpin}">sync</mat-icon>
          </button>
          <button mat-raised-button color="accent" (click)="onClickLocationModal()">
              <mat-icon>location_city</mat-icon>
          </button>
        
      </div>
    </mat-toolbar-row>

  </mat-toolbar>

