.board-toolbar {
    display: flex;
    max-width: 100%;
    .mat-icon {
        color: #fff;
        cursor: pointer;
    }
    margin-bottom: 10px;
    @media screen and (min-width: 768px) {
        
    }
    a {
        color: #0275d8!important;
        cursor: pointer;
    }
    
    &__drop-down {
        display: none;
        @media screen and (min-width: 768px) {
            justify-self: flex-start;
            display: block;
        }

    }

    &__buttons {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        @media screen and (min-width: 768px) {
            justify-self: flex-end;
            justify-content: flex-end;
            margin-left: auto;
            button {
                margin-right: 10px;
            }
            .advert-type-btn {
                display: none;
            }
        }
    }
        
    
}
