<div class="container">
  <div mat-card>
    <h1 class="display-3 text-center">New Post</h1>
    <div class="row">
      <div class="col-md-6">

     

        <div>
        </div>
        
          <app-new-post-form></app-new-post-form>
        
      </div>
      <div class="col-md-6">

      </div>
    </div>
  </div>
</div>