<form *ngIf="showForm" [formGroup]="newPostForm" (ngSubmit)="onSubmit()">

  <div class="form-group"
  [ngClass]="{
    'has-danger': !newPostForm.get('title').valid && newPostForm.get('title').touched,
    'has-success' : newPostForm.get('title').valid && newPostForm.get('title').touched
  }"
  >
    <label for="formGroupExampleInput">Advert Title</label>
    <input type="text"
    class="form-control"
    formControlName="title"
    placeholder="eg. Band looking for a bassists...">
    <span class="form-control-feedback"
    *ngIf="!newPostForm.get('title').valid && newPostForm.get('title').touched">
      Enter an Ad title
    </span>
  </div>
 
  <div class="form-group" 
  [ngClass]="{
    'has-danger' : !newPostForm.get('postGroup').valid && newPostForm.get('postGroup').touched,
    'has-success' : newPostForm.get('postGroup').valid && newPostForm.get('postGroup').touched
    }"
  >
    <label for="exampleSelect1">Select Board</label>
    <select (change)="getPostTypes()"
    class="form-control"
    formControlName="postGroup">
    <option [ngValue]="null" disabled>Please select from list:</option>
      <option *ngFor="let postGroup of postGroups" [ngValue]="postGroup">{{postGroup.name}}</option>
    </select>
    <span 
    *ngIf="!newPostForm.get('postGroup').valid && newPostForm.get('postGroup').touched" 
    class="form-control-feedback">
      Please Select a board
    </span>
  </div>


  <div *ngIf="postTypesActive()">
      <div class="form-group"
      [ngClass]="{
        'has-danger' : !newPostForm.get('postType').valid && newPostForm.get('postType').touched,
        'has-success' : newPostForm.get('postType').valid && newPostForm.get('postType').touched
      }"
      >
      <label for="exampleSelect1">Select an option</label>
      <select class="form-control"
      formControlName="postType">
      <option [ngValue]="null" disabled>Please select from list:</option>
        <option *ngFor="let postType of postTypes"
        [ngValue]="postType"
       >{{postType.name}}</option>
      </select>
      <span class="form-control-feedback"
      *ngIf="!newPostForm.get('postType').valid && newPostForm.get('postType').touched"
      >
        Select an option
      </span>
    </div>
  </div>
  
  <div [hidden]="!showCityInput">
    <button (click)="showCitySelection()" type="button" class="btn btn-warning">Edit City</button>
      <span>City: {{(user$ | async)?.user?.city?.description}}</span>
  </div>
  <div [hidden]="showCityInput">
      <app-geo-location (cityResult)="getCityResult($event)"></app-geo-location>
  </div>

  <div class="form-group"
  [ngClass]="{
    'has-danger' : !newPostForm.get('content').valid && newPostForm.get('content').touched,
    'has-success' : newPostForm.get('content').valid && newPostForm.get('content').touched
  }">
    <label for="exampleTextarea">Advert Message</label>
    <textarea class="form-control" 
    formControlName="content" rows="5"></textarea>
    <span class="form-control-feedback"
    *ngIf="!newPostForm.get('content').valid && newPostForm.get('content').touched">
      Enter a message
    </span>
  </div>

  <div class="form-group">
    <label for="exampleInputFile">File input</label>
    <input type="file"
    accept=".jpg,.png"
    (change)="fileChange($event)"
    accept=".jpg, .png"
    class="form-control-file"
    formControlName="file"
    aria-describedby="fileHelp">
    <small id="fileHelp" class="alert alert-warning">IMPORTANT: Files must be under 10mb</small>
  </div>

  <button [disabled]="!newPostForm.valid" type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>

</form>

  <app-pre-loader
  [wait]="isSubmited"
  [preLoaderColor]="'#0275d8'"
  [bgColor]="'rgba(236, 238, 239, .7)'">
  </app-pre-loader>

  <div *ngIf="!showForm" class="card">
  <div class="card-block">
    <h4 class="card-title">Thank you!</h4>
    <p class="card-text">Thank you! Your ad has been submitted.</p>
  </div>
</div>
<div *ngIf="showError">
    <div class="alert alert-danger" role="alert">
      <h4 class="card-title">Error Uploading Image</h4>
      <div class="card-text">Quote Server Error: {{errorMsg}}
      </div>
    </div>
  </div>

