.jumbotron {
    background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)),
     url(http://res.cloudinary.com/josefcreative/image/upload/v1497309011/wesley-tingey-223059_mmpb30.jpg);
    background-size: cover, cover;
    background-position: center, center;
    color: #ffffff;
    border-radius: 0;
    margin-bottom: 0;
    a {
        margin-right: 10px;
        text-decoration: none;
        font-size: 16px;
        padding: 7px 16px;
        opacity: 1;
        &:hover {
            transition: opacity .3s ease-in;
            opacity: .8;
        }
    }
    p {
        color: #fff!important;
        font-weight: 200;
}
    h1 {
        font-size: 2.5rem;
        font-weight: 200;
        line-height: 1.4;
    }
    @media only screen and (max-width: 760px) {
        .btn {
            margin-bottom: 0;
            display: block;
            width: 100%;
        }
    }
}