<section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">Welcome to Band Noticeboard {{country}}</h1>
        <p class="lead text-muted">Fed up of wasting time, searching countless sites for a gig? Checkout Band Noticeboard
          today &amp; become part of a growing community or like minded musicians.
        </p>
        <p>
          <a *ngIf="!authService.isLoggedOn()" routerLink="/signup" mat-raised-button color="accent">Sign up!</a>
          <a routerLink="/about" href="#" mat-raised-button color="primary">Learn more</a>
        </p>
      </div>
    </section>