
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Login</h1>
    <p class="lead">Login to your account to post a new ad!</p>
  </div>
</div>
<div class="container">
  
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-6">
       <app-login-form></app-login-form>
    </div>
    <div class="col-md-2"></div>
    
  </div>
</div>