.jumbotron {
    background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)),
     url(http://res.cloudinary.com/josefcreative/image/upload/v1497308990/freestocks-org-91297_pqgunx.jpg);
    background-size: cover, cover;
    background-position: center, center;
    color: #ffffff;
    
}
.jumbotron p {
        color: #fff!important;
}