.main {
}
.jumbotron {
    background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)),
     url(http://res.cloudinary.com/josefcreative/image/upload/v1497309011/gabriel-barletta-87533_japoaw.jpg);
    background-size: cover, cover;
    background-position: center, center;
    color: #ffffff;
}
.jumbotron {
    background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)),
     url(http://res.cloudinary.com/josefcreative/image/upload/v1497309010/kyle-wong-140936_a7nz8a.jpg);
    background-size: cover, cover;
    background-position: center, center;
    color: #ffffff;
    margin-bottom: 0;
    @media screen and (max-width: 768px) {
        .btn {
            display: block;
            width: 100%;
        }
    }
}
.jumbotron p {
        color: #fff!important;
}
.jumbotron p {
        color: #fff!important;
}
button {
    font-weight: 300;
}
h1 {
    font-size: 2.5rem;
    font-weight: 200;
    line-height: 1.4;
}
@media screen and (max-width: 768px) {
    h1 {
        font-size: 2rem;
        line-height: 1.3;
    }
}