<div class="main">
    <div *ngIf="!authService.isLoggedOn()">
            <app-hero></app-hero>
        </div>
        
        <div *ngIf="authService.isLoggedOn()">
            <div class="jumbotron jumbotron-fluid">
                <div class="container d-flex justify-content-center flex-column align-items-center">
                    <h1 class="display-4 text-center">Checkout the latest posts or try you luck with an ad!</h1>
                    <button type="button" routerLink="/post" class="btn btn-outline-info btn-lg">
                        <i class="fa fa-music" aria-hidden="true"></i> Create Ad
                    </button>
                </div>
            </div>
        </div>

        <app-board-header></app-board-header>
        <app-board></app-board>
    
</div>