.sidenav-container {
  height: 100%;
  .login-btn {
    margin-right: 5px;
  }
}
.sidenav {
  width: 200px;
  text-align: center;
  li {
    margin: 10px auto;
    list-style: none;
    a {
      text-decoration: none;
    }
  }
}

.sidenav .mat-toolbar {
  background: inherit;
}
.mat-toolbar {

  li {
    list-style: none;
    a {
      display: inline-block;
      margin: 0 10px;
      text-decoration: none;
    }
  }
  button {
    margin: 0 10px;
  }
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.hidden {
  display: none;
}

.spacer {
  flex: 1 1 auto;
}

.navbar-brand {
  margin-right: 0;
  img {
    max-width: 231px;
    height: auto;
  }
}

.nav-login-btn, .nav-signup-btn {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
  }
}