<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer
  class="sidenav"
  fixedInViewport="false"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"

      >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>

      <li mat-list-item *ngIf="!authService.isLoggedOn()" class="nav-item">
          <a mat-fab class="nav-link" routerLink="/signup">Join</a>
        </li>
        <li mat-list-item class="nav-item">
          <a mat-fab class="nav-link" routerLink="/about">About</a>
        </li>
        <li mat-list-item class="nav-item">
          <a mat-fab class="nav-link" routerLink="/contact">Contact</a>
        </li>
          <span *ngIf="authService.isLoggedOn()">

            <li mat-list-item class="nav-item">
                <a routerLink="user-profile/{{user?._id}}">Profile</a>
            </li>
            <li mat-list-item class="nav-item">
                <a routerLink="messages">Inbox</a>
            </li>
            <li mat-list-item class="nav-item">
                <a routerLink="user-posts/{{user?._id}}">My Adds</a>
            </li>
         </span>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="nav-content">
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        >
        <mat-icon aria-label="Side nav toggle icon">
          menu
        </mat-icon>
      </button>


      <a class="navbar-brand" routerLink="/"><img src="assets/Band Noticeboard.png"></a>

      <span class="spacer"></span>


      <li *ngIf="!authService.isLoggedOn()" class="nav-item nav-signup-btn">
          <button mat-raised-button color="accent" routerLink="/signup">Sign up!</button>
        </li>

      <div *ngIf="!authService.isLoggedOn()" class="login-btn">
          <div class="my-2 my-lg-0">
              <a routerLink="/login"><button mat-mini-fab color="accent">
                <mat-icon>input</mat-icon>
              </button></a>
          </div>
        </div>


      <div *ngIf="authService.isLoggedOn()">
        <div class="login-nav my-2 my-lg-0 d-flex d-flex align-items-center justify-content-between">
              <i *ngIf="hasNotSeen" class="fa fa-comment green fa-2x" aria-hidden="true"></i>
              <a class="user-menu-toggle" (click)="showDropDown()">
                <button mat-button [matMenuTriggerFor]="menu">
                    <mat-icon aria-label="Side nav toggle icon" matBadgeSize="small" matBadge="1" matBadgeHidden="false" matBadgeColor="accent">
                        person
                    </mat-icon>
                </button>
                </a>



            <div class="user-loggged-in d-flex align-items-center justify-content-between">
              <span (click)="showDropDown()">
                <!-- <mat-chip-list>
                    <mat-chip>
                        <a><small>{{user?.username}}</small></a>
                    </mat-chip>
                </mat-chip-list> -->
                
              </span>
            </div>

            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="showDropDown()"  routerLink="user-profile/{{user?._id}}">  Profile</button>
              <button mat-menu-item (click)="showDropDown()"  routerLink="messages"><i class="fa fa-inbox" aria-hidden="true"></i> Inbox <i *ngIf="hasNotSeen" class="green fa fa-comment" aria-hidden="true"></i></button>
              <button mat-menu-item (click)="showDropDown()"  routerLink="user-posts/{{user?._id}}"><i class="fa fa-thumb-tack" aria-hidden="true"></i> My ads <i *ngIf="hasNotSeen" class="green fa fa-comment" aria-hidden="true"></i></button>
            </mat-menu>



            <a class=""><button routerLink="/" (click)="logOut()" mat-raised-button color="accent">Log out</button></a>
        </div>
      </div>




    </mat-toolbar>
    <!-- Add Content Here -->
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
