<div [ngClass]="showProfileForm ? 'showProfileForm' : 'hideProfileForm'" class="container">

  <form [formGroup]="profileUpdateForm" class="alert alert-info" role="alert">

    <div class="form-group row">
      <label for="lgFormGroupInput" class="col-sm-2 col-form-label col-form-label-lg">Username</label>
      <div class="col-sm-6">
        <input type="text"
      
        formControlName="username"
        class="form-control form-control-lg"
        id="lgFormGroupInput"
        placeholder="{{userData?.username}}">
      </div>
    </div>

    <div class="form-group row">
      <label for="lgFormGroupInput" class="col-sm-2 col-form-label col-form-label-lg">Email</label>
      <div class="col-sm-6">
        <input type="email"
        formControlName="email"
        class="form-control form-control-lg"
        id="lgFormGroupInput"
        placeholder="{{userData?.email}}">
      </div>
    </div>

    <div class="form-group row">
      <label for="lgFormGroupInput" class="col-sm-2 col-form-label col-form-label-lg">Password</label>
      <div class="col-sm-7 d-flex justify-content-left">
        <input type="password"
        formControlName="password"
        class="form-control form-control-lg"
        id="lgFormGroupInput">
        <button type="button" class="btn btn-warning" (click)="togglePassword()">{{changePassword}}</button>
      </div>
    </div>
<!--
    <div class="row">
      <div class="col-md-7">

        <app-location-selection [userCountry]="user?.country" [userCity]="user?.city" (locationSelection)="getSelectedLocations($event)">
        </app-location-selection>

      </div>
    </div>-->


    <div class="col-sm-7">
      <div class="row">
        <div class="col-sm-6">
          <button (click)="toggleShowProfileForm()" class="btn btn-outline-success btn-lg btn-block">Cancel</button>
        </div>
        <div class="col-sm-6">
          <button (click)="postProfileForm()" class="btn btn-danger btn-lg btn-block">Update</button>
        </div>
      </div>
    </div>

  </form>

</div>