a {
    color: initial!important;
}   


.container {
    .list-group {
        .list-group-item {
            background-color: #bbbabf;
            cursor: pointer;
            margin-bottom: 8px;
            &:hover {
                background-color: #9a999c;
            }
            .comment-container {
                width: 100%;
                display: flex;
                justify-content: flex-end;
                .mat-icon {
                    margin-left: 10px;
                }
            }
        }
    }
}