<div class="container">
  <div>
    <h1 class="display-3">Manage Your Ads</h1>
    <p class="lead">You can manage your ads on this page. More options will be coming soon.</p>

    Active Posts
    <div *ngFor="let post of posts; let i = index" class="row">
    <div class="col-md-8">
        <div class="list-group">
            <a (click)="viewPost(post?._id); updateAuthorHasSeen(post?.replies[i]?._id);"
            class="list-group-item list-group-item-action flex-column align-items-start">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{post?.title}}</h5>
                <small>{{datePretty(post.updatedAt)}}</small>
              </div>
              <p class="mb-1">{{post?.content}}</p>
                <small class="d-flex align-items-end comment-container">
                  <span *ngIf="post?.count">
                    <mat-icon matBadgeColor="accent" matBadge="{{post?.count}}">mode_comment</mat-icon>
                  </span>
                    <mat-icon (click)="deletePost(post?._id, post?.userId)">delete</mat-icon>

                  <span *ngIf="post?.replies?.length > 0 && post?.replies[i]?.authorSeen === 'not_seen'"><i class="fa fa-bell green" aria-hidden="true"></i> New Message!</span>
                </small>
            </a>

          </div>

    </div>
    <div class="col-md-4 d-flex align-items-center">
      <!--<button type="button" class="btn btn-outline-success">View</button>-->
      <!--<button type="button" class="btn btn-outline-warning">Edit</button>-->

    </div>
    </div>

  </div>
</div>