<div [ngClass]="showUserProfileForm ? 'hideProfile' : 'showProfile'" class="container">
  <div class="jumbotron">
    <div class="row">
      <div class="col-md-6 alert alert-warning" role="alert">
      <h1 class="display-3">Profile</h1> Edit Account: <button type="button" (click)="showUserForm()" class="btn btn-outline-warning">Edit Account</button>
    </div>
    </div>
    
<div class="row">
    <div class="col-md-6 alert alert-success" role="alert">
      <div>
        <h2 class="display-4">Username: {{user?.username}}</h2>
      </div>
      <div>
        Email: {{user?.email}}
      </div>
      <div>
        City: {{user?.city}}
      </div>
      <div>
        Country: {{user?.country}}
      </div>
      <div>
        <!--Active posts: <a routerLink="/user-posts/{{user?._id}}">{{user?.posts.length}}</a>-->
      </div>
    </div>
</div>

  <!--<div class="row">
    <div class="col-sm-6 alert alert-danger" role="alert">
      <div><strong>WARNING: Danger Zone!</strong></div>
      <hr>
      Delete Account: <button type="button" class="btn btn-outline-danger">Delete Account</button>
    </div>
  </div>-->

  </div>
</div>

<app-profile-form
(updateShowProfileForm)="getShowProfile($event)"
(updateUserData)="updateUserData($event)"
[userData]="user"
[showProfileForm]="showUserProfileForm"
></app-profile-form>