.mat-card-content {
    font-size: 16px!important;
}
.mat-card {
    button {
     width: 100%;
     padding: 10px 15px;
     font-size: 20px!important;
     a {
        color: #fff!important;
        text-decoration: none;
     }
    }
    margin-bottom: 15px;
    .card-image, img {
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 767px) {
    .card {
        .card-header {
            height: 100%;
        }
        .row {
            margin-right: 15px;
            margin-left: 15px;
        }
    }
    .no-gutters {
        margin-right: 0;
        margin-left: 0;
        padding-right: 0;
        padding-left: 0;
      }
}
.card {
    font-weight: 300;
    h4 {
        font-weight: 200;
        margin-bottom: 4px;
    }
    margin-bottom: 20px;
    small, .small {
        font-size: 11px;
    }
    .card-header {
        p {
            margin-bottom: 0;
        }
        h4 {
        line-height: .8;
        }
        small {
            color: #34495e;
        }
    }
    .card-block {
        min-height: 193.781px + 20px;
        word-wrap:break-word;
        overflow: hidden;
        strong {
            font-weight: 300;
        }
        p {
            margin-bottom: .4rem;
        }
        .card-location {
            color: #3498db;
        }
    }
    .card-text {
        font-size: .9rem;
        word-wrap:break-word;
    }
    button {
        cursor: pointer;
        a {
            text-decoration: none;
        }
    }
}
