
    <mat-card class="mat-card">
  
          <mat-card-header>
    <mat-card-title>{{post?.title | stringLimit : 30}}</mat-card-title>
    <mat-card-subtitle>
        <p>{{post?.postGroup}} / {{post?.postType}}</p>
      </mat-card-subtitle>
          </mat-card-header> 

          <div *ngIf="post.image && post.image.length > 0">
            <cl-image background="#424242"  style="width: 100%; height: auto;" public-id={{post?.image[0]?.public_id}} class="cl-image rounded float-left card-image"
              crop="lpad" height="600" width="600" format="jpg" >
            </cl-image>
          </div>
          <div *ngIf="post?.image.length === 0">
            <img style="width: 100%; height: auto;" class="card-img-top" src="http://via.placeholder.com/250x250?b_rgb(66,66,66)" alt="Card image cap">
          </div>

          <mat-card-content class="card-content">
              <p class="">{{post?.content | stringLimit : 180}}</p>
          </mat-card-content>


          <mat-card-actions>
              <button mat-raised-button color="accent"
              (click)="viewSelectedPost($event, post._id)">
              <a (click)="viewSelectedPost($event, post._id)" [href]="'/post/' + post?._id">Read more</a>
            </button>
          </mat-card-actions>
          <mat-card-subtitle>{{post?.city.formatted_address}}</mat-card-subtitle>
          <small>{{datePretty(post.updatedAt)}}</small>

   
        <!-- <div class="no-gutters col-6 col-sm-12">
          <div class="card-header">
            <h4>{{post?.postGroup}}</h4>
            <p>{{post?.postType}}</p>
            <small>
              <i class="fa fa-calendar" aria-hidden="true"></i> {{datePretty(post.updatedAt)}}</small>
          </div>
        </div> -->
        <!-- <div class="card-block">
          <p class="card-location">
            <strong>{{post?.city.formatted_address}}</strong>
          </p>
          
          <button type="button" (click)="viewSelectedPost($event, post._id)" class="btn btn-outline-info btn-block"><a (click)="viewSelectedPost($event, post._id)" [href]="'/post/' + post?._id">Read more</a></button>
        </div> -->

    </mat-card>
