
<h3 mat-dialog-title>1. Select Ad Group:</h3>
<span *ngIf="data?.postGroups; let postGroups">
    <app-board-drop-down
    (selectedListItem)="data.getPostGroupId($event)"
    [btn]="'btn-outline-info btn-lg'"
    [listItems]="postGroups"
    [name]="'Boards'"
    [property]="'name'"
    [props]="'_id'">
   </app-board-drop-down>
  </span>
<span *ngIf="data?.postTypes$ | async; let postTypesData;">
    <h3 mat-dialog-title>2. Select Ad Type:</h3>
    <app-board-drop-down
    [hidden]="False"
    (selectedListItem)="data.getPostType($event); onCloseClick()"
      [btn]="'btn-primary btn-lg'"
      [listItems]="postTypesData?.postTypes"
      [name]="postTypesData?.name"
      [property]="'name'"
      [props]="'name'">
    </app-board-drop-down>
  </span>

  <button mat-raised-button color="accent" (click)="onCloseClick()">close</button>