
<form [formGroup]="loginForm">

        <div class="form-group row" [ngClass]="!loginForm.get('email').valid && loginForm.get('email').touched ? 'has-danger' : 'has-success'">
          <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
          <div class="col-sm-10">
            <input
            type="email"
            class="form-control"
            placeholder="Email"
            formControlName="email"
            >
            <span *ngIf="!loginForm.get('email').valid && loginForm.get('email').touched"
            class="form-control-feedback">Please add a valid email</span>
          </div>
        </div>

        <div class="form-group row" [ngClass]="!loginForm.get('password').valid && loginForm.get('password').touched ? 'has-danger': 'has-success'">
          <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
          <div class="col-sm-10">
            <input
            type="password"
            class="form-control"
            placeholder="Password"
            formControlName="password"
            >
            <span *ngIf="!loginForm.get('password').valid && loginForm.get('password').touched"
            class="form-control-feedback">
              Please enter your Password
            </span>
          </div>
        </div>

        <button
        [disabled]="!loginForm.valid"
        (click)="onSubmit($event)" class="btn btn-success btn-lg btn-block">Login</button>
      </form>
      <br />
      <div *ngIf="error$ | async">
            <div class="alert alert-danger" role="alert">
          <strong>Error: Your Email or Password was incorrect.</strong>
      </div>

      </div>