<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Sign up today!</h1>
    <p class="lead">Please take 1 minute to fill in the form below and start posting on Band Noticeboard right now!</p>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">

      <form (ngSubmit)="onSubmit(f)" #f="ngForm" autocomplete="false">
        <div class="form-group">
          <label for="exampleInputEmail1">Display Name</label>
          <input type="text"
          class="form-control"
          id="username"
          ngModel
          name="username"
          required>
        </div>

        <div class="form-group">
          <label for="exampleInputEmail1">Email (Username)</label>
          <input
          type="email"
          class="form-control"
          id="email"
          ngModel
          name="email"
          required
          email>
        </div>

        <div class="alert"
        [ngClass]="password.touched && password.value === password2.value ? 'alert-success' : 'alert-warning'"
        role="alert">
          <div class="form-group">
            <label>Password</label>
            <input
            type="password"
            class="form-control"
            id="password" 
            ngModel
            name="password"
            required
            #password="ngModel">
          </div>

          <div class="form-group">
            <label>Confirm password</label>
            <input
            type="password"
            class="form-control"
            id="password2"
            ngModel
            name="password2"
            required
            #password2="ngModel">
          </div>
            <span *ngIf="password.touched && password.value !== password2.value">
              Whoops! paswords don't match.
            </span>
        </div>

          <app-geo-location (cityResult)="getCityResult($event)"></app-geo-location>

          <div class="form-check-container">
            <div class="form-check">
              <label class="form-check-label">
              <input type="checkbox" class="form-check-input"
              name="acceptTerms"
              #acceptTerms="ngModel"
              ngModel>
              I agree to <a href="">terms &amp; conditions</a>
            </label>
            </div>
        </div>
        <small>Bug: On mobiles please select a country until a city option appears</small>

        <button
        type="submit"
        class="btn btn-primary btn-lg btn-block"
        [disabled]="!f.valid || !acceptTerms.value || password.value !== password2.value">Submit</button>
      </form>
      <div *ngIf="error" class="alert alert-danger" role="alert">
          <strong>Whoops!</strong> Please check your details &amp; try again.
        </div>
    </div>
    <div class="col-md-3"></div>
  </div>

</div>