input.ng-invalid.ng-touched, select.ng-valid.ng-touched {
    border: 1px solid red;
}
input.ng-valid.ng-touched, select.ng-valid.ng-touched {
    border: 1px solid green;
}
.jumbotron {
    background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)),
     url(http://res.cloudinary.com/josefcreative/image/upload/v1497309011/gabriel-barletta-87533_japoaw.jpg);
    background-size: cover, cover;
    background-position: center, center;
    color: #ffffff;
    
}
.jumbotron p {
        color: #fff!important;
}

.auto-form-group {
    margin-bottom: 0;
}

.form-check-container {
    margin-top: 20px;
}