
<form [formGroup]="locationForm">

    <div *ngIf="disabled" class="card card-inverse card-info mb-3 text-center">
      <div class="card-block">
        <blockquote class="card-blockquote">
          <p>Country: {{storedCountry || userCountry}}</p>
          <p>City: {{storedCity || userCountry}}</p>
        </blockquote>
      </div>
    </div>

        <div class="checkbox">
      <label>
        <input type="checkbox"
        (change)="enableLocation(); locationResults()"
        formControlName="changeLocation"
        > Change Country / City
      </label>
    </div>

  <div *ngIf="!disabled" class="form-group"
      [ngClass]="{
        'has-danger' : !locationForm.get('country').valid && locationForm.get('country').touched,
        'has-success' : locationForm.get('country').valid && locationForm.get('country').touched
      }"
      >
      <label for="exampleSelect1">Country</label>
      <select (change)="locationResults()"
      class="form-control"
      formControlName="country">
   
      <option [ngValue]="null" disabled>Select a country</option>
        <option  *ngFor="let location of locations"
        selected="{{storedCountry}}"
        [ngValue]="location"
        >{{storedCountry || location?.country}}</option>
      
      </select>
      <span class="form-control-feedback"
      *ngIf="!locationForm.get('country').valid && locationForm.get('country').touched"
      >
        Select an option
      </span>
    </div>

      <div *ngIf="!disabled" class="form-group"
      [ngClass]="{
        'has-danger' : !locationForm.get('city').valid && locationForm.get('city').touched,
        'has-success' : locationForm.get('city').valid && locationForm.get('city').touched
      }"
      >
      <label for="exampleSelect1">City</label>
      <select (change)="locationResults()"
      class="form-control"
      formControlName="city">
      <option [ngValue]="null" disabled>Select a city</option>
        <option *ngFor="let location of locationForm.value.country?.cities"
        [ngValue]="location"
        selected="{{storedCity}}"
        >{{storedCity || location?.name}}</option>
      </select>
      <span class="form-control-feedback"
      *ngIf="!locationForm.get('city').valid && locationForm.get('city').touched">
        Select an option
      </span>
    </div>
</form>