<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3"><i class="fa fa-inbox" aria-hidden="true"></i> Inbox</h1>
    <p class="lead">Check your latest messages.</p>
  </div>
</div>
<div class="container">
  <div *ngFor="let post of posts; let i = index" class="list-group">
    <a (click)="showMessage(post?._id); updateUserHasSeen(post?.replies[i]._id);" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{post?.title}}</h5>
       <small><i class="fa fa-calendar" aria-hidden="true"></i>  {{datePretty(post?.updatedAt)}}</small>
      </div>
      <p class="mb-1">{{post?.content| stringLimit: 40}}</p>
      <small><i class="fa fa-table" aria-hidden="true"></i> {{post?.postGroup}} / {{post?.postType}}</small>
    </a>
      <div *ngIf="messageId === post?._id && messageViewable">
        <app-post-replies 
        [post]="post"
        [hasSeenType]="'/responder'"
        [idType]="['_id']"
        [user]="user"
        ></app-post-replies>
      </div>
  </div>
</div>