<div class="container">
  <ol class="breadcrumb bg-info">
    <li class="breadcrumb-item"><a routerLink="/">Board</a></li>
    <li class="breadcrumb-item">{{post?.postGroup}}</li>
    <li class="breadcrumb-item active">{{post?.postType}}</li>
  </ol>
  <div mat-card>
    <div mat-card-header class="row single-post__header">
      <div class="col-md-4">
        <h5>Posted by:</h5>
          <span *ngIf="!(user$ | async)?._id">
              <p>Please <a routerLink="/login">Login</a> or <a routerLink="/signup">Sign up</a> to see author & reply to advert.</p>
          </span>
          <app-profile-detail [user]="user$ | async" [authorId]="post?.userId"></app-profile-detail>
      </div>
      <div class="col-md-8">
        <h1 class="display-4">{{post?.title}}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
          <span *ngIf="post?.image.length > 0">
              <cl-image style="width: 100%; height: auto;" public-id={{post?.image[0]?.public_id}} class="rounded float-left" crop="fit" height="450" width="450" format="jpg">
                </cl-image>
          </span>
          <span *ngIf="post?.image.length === 0">
              <img src="http://via.placeholder.com/600X600" class="rounded float-left" alt="{{post?.title}}">
          </span>
      </div>
      <div class="col-md-6">
                <div>Ad Location: <span class="badge badge-default">{{post?.city.formatted_address}}</span></div>
                <br>

                    <p>{{post?.content}}</p>

                <hr>
                <small>Posted: {{post?.updatedAt}}</small><br><br>
                <div *ngIf="post && (user$ | async)?._id !== post?.userId">
                    <app-reply-form [user]="user$ | async" [messageId]="post?._id" [messagePath]="'message'" [post]="post"></app-reply-form>
                </div>
         
      </div>
    </div>
    <span *ngIf="user$ | async; let user">
        <div *ngIf="user?._id === post?.userId && post?.replies && post?.replies.length > 0">
            <app-post-replies [user]="user" [post]="post" [hasSeenType]="'/author'" [idType]="'_id'"></app-post-replies>
        </div>
    </span>
    <div class="row">
      <div class="container">
          <div #gmap id="gmap"></div>
      </div>        
      </div>
  </div>
</div>