
.breadcrumb {
    margin-top: 20px;
}
.jumbotron {
    background: #fff;
    padding-top: 20px;
}
img {
    width: 100%;
    height: auto;
}
h1 {
    font-weight: 200;
    padding-top: 6px;
    padding-bottom: 6px;
}

.single-post__header {
    margin-bottom: 20px;
}
p {
    font-weight: 200;
}
#gmap {
    @media only screen and (max-width: 375px) {
        min-width: 250px;
        min-height: 250px;
    }
    min-width: 350px;
    min-height: 350px;
    position: relative!important;
    width: 100%;
    height: 100%;
    background-color: grey;
    margin-top: 20px;
    position: absolute;
  }